<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soilution Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
      #workspace-button {
        transition: background-color 0.3s ease;
      }

      #workspace-button:hover {
        background-color: #d1d5db;
      }

      #workspace-button.active {
        background-color: #d1d5db;
      }

      #workspace-dropdown,
      #profile-dropdown {
        border: 1px solid #aaa;
      }

      .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      /* .active-link {
          background-color: #e2e8f0; 
      }

      .active-link:hover {
          background-color: #cbd5e0;
      } */
    </style>
  </head>
  <body class="flex flex-col h-screen">
    <!-- Navbar -->
    <nav
      class="bg-white fixed w-full text-black p-1 flex justify-between items-center border-b border-solid border-[#aaa] p-2 z-10"
    >
      <div class="flex items-center ml-4">
        <!-- Logo -->
        <img src="your-logo-url-here.png" alt="Logo" class="w-10 h-10 mr-4" />
        <span class="text-xl font-bold">Soilution</span>
      </div>

      <!-- Current Workspace Display and Dropdown -->
      <div class="relative">
        <div
          class="flex items-center space-x-2 text-black p-2 hover:bg-gray-200 rounded-lg cursor-pointer relative left-[-27rem]"
          id="workspace-button"
        >
          <!-- Current Workspace or Default Text -->
          <span class="text-xs" id="current-workspace">
            {% if selected_workspace %} {{ selected_workspace.name }} {% else %}
            Select workspace {% endif %}</span
          >
          <svg
            class="arrow-icon mt-1"
            width="12px"
            height="12px"
            viewBox="0 0 512 640"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <g>
              <path
                fill="currentColor"
                d="M262.446,386.006L509.337,138.99c3.548-3.562,3.548-9.344,0-12.906c-3.453-3.453-9.438-3.453-12.859,0  
                        L255.993,366.662L15.555,126.083c-1.719-1.703-4.031-2.672-6.453-2.672s-4.734,0.969-6.453,2.672  
                        c-3.532,3.562-3.532,9.344,0.016,12.906l246.875,247C253.024,389.443,258.993,389.459,262.446,386.006z"
              />
            </g>
          </svg>
        </div>

        <!-- Dropdown Menu for Workspaces -->
        <div
          id="workspace-dropdown"
          class="absolute right-0 hidden mt-1 bg-white text-black rounded shadow-md w-[20rem] z-10 left-[-27rem] p-1 max-h-72 overflow-y-auto"
          data-id="{{ selected_workspace.id }}"
          data-name="{{ selected_workspace.name }}"
        >
          <ul>
            {% if selected_workspace %}
            <li>
              <a
                href="#"
                class="block px-4 py-2 bg-gray-300 rounded workspace-option"
                data-id="{{ selected_workspace.id }}"
                data-name="{{ selected_workspace.name }}"
              >
                {{ selected_workspace.name }}
              </a>
            </li>
            {% endif %} 
            {% for workspace in workspace %} 
              {% if workspace.id != selected_workspace.id %}
              <li>
                <a
                  href="#"
                  class="block px-4 py-2 hover:bg-gray-200 workspace-option"
                  data-id="{{ workspace.id }}"
                  data-name="{{ workspace.name }}"
                >
                  {{ workspace.name }}
                </a>
              </li>
              {% endif %} 
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- Profile Chip with Dropdown -->
      <div class="relative">
        <div
          class="flex items-center space-x-2 text-white p-2 rounded-full cursor-pointer profile-div mr-4"
          id="profile-button"
        >
          <!-- Avatar -->
          <div class="w-8 h-8 rounded-full overflow-hidden">
            {% if profile_picture_url %}
            <img
              src="{{ profile_picture_url }}"
              alt="User Avatar"
              class="w-full h-full object-cover"
            />
            {% else %}
            <span
              class="w-full h-full flex justify-center items-center bg-gray-500 text-white text-sm"
            >
              {{ user.first_name|slice:":1"|upper }}{{ user.last_name|slice:":1"|upper }}
            </span>
            {% endif %}
          </div>
        </div>

        <!-- Dropdown Menu -->
        <div
          id="profile-dropdown"
          class="absolute right-0 hidden bg-white text-black rounded shadow-md w-48 z-10 p-1"
        >
          <ul class="py-2">
            <li class="px-4 py-2 text-m text-black-600">
              <strong>{{ user.first_name }}</strong> <br />
              <span
                class="text-sm text-gray-500 truncate"
                style="max-width: 150px; display: inline-block"
              >
                {{ user.email }}
              </span>
            </li>
            <li>
              <a
                href="{% url 'account_settings' %}"
                class="block px-4 py-2 hover:bg-gray-200"
                >Account settings</a
              >
            </li>
            <li>
              <a
                href="{% url 'logout' %}"
                class="block px-4 py-2 hover:bg-gray-200"
                >Log Out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="flex flex-1">
      <!-- Sidebar -->
      <div
        id="sidebar"
        class="bg-white text-black w-14 min-h-screen fixed mt-[4.08rem] p-4 transition-all duration-300 ease-in-out hover:w-52 group border-r border-solid border-[#aaa] group-hover:bg-white z=100"
      >
        <nav>
          <ul>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a
                href="{% url 'workspace' %}"
                class="flex items-center space-x-2"
              >
                <img
                  src="{% static 'images/left-arrow.png' %}"
                  alt=""
                  width="12"
                  height="14"
                />
                <span
                  class="text-gray-400 text-sm opacity-0 group-hover:opacity-100 transition-all"
                >
                  Workspace
                </span>
              </a>
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a href="{% url 'dashboard' %}" class="flex items-center space-x-2 active-link"
                ><img
                  src="{% static 'images/dashboard.png' %}"
                  alt=""
                  width="18"
                  height="18"
                /><span
                  class="opacity-0 group-hover:opacity-100 transition-all"
                >
                  Dashboard
                </span></a
              >
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a href="{% url 'insights' %}" class="flex items-center space-x-2 active-link">
                <img
                  src="{% static 'images/chart-up.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <span class="opacity-0 group-hover:opacity-100 transition-all">
                  Insight
                </span>
              </a>
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer w-32"
            >
              <a href="{% url 'crop_details' %}" class="flex items-center space-x-2 active-link"
                ><img
                  src="{% static 'images/info.png' %}"
                  alt=""
                  width="18"
                  height="18"
                /><span
                  class="opacity-0 group-hover:opacity-100 transition-all"
                >
                  Crop details
                </span></a
              >
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a href="{% url 'logs' %}" class="flex items-center space-x-2 active-link"
                ><img
                  src="{% static 'images/list.png' %}"
                  alt=""
                  width="18"
                  height="18"
                /><span
                  class="opacity-0 group-hover:opacity-100 transition-all"
                >
                  Logs
                </span></a
              >
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a href="{% url 'reports' %}" class="flex items-center space-x-2 active-link"
                ><img
                  src="{% static 'images/bar-chart.png' %}"
                  alt=""
                  width="18"
                  height="18"
                /><span class="opacity-0 group-hover:opacity-100 transition-all"
                  >Reports
                </span></a
              >
            </li>
          </ul>
        </nav>
      </div>

      <!-- Main Content -->
      <div
        class="flex-1 p-6 mt-16 ml-14 group-hover:ml-52 transition-all duration-300 ease-in-out"
      >
        <div
          class="flex justify-end"
        >
          <div>
            <h1 class="text-3xl font-bold">Dashboard</h1>
            <p class="text-sm text-gray-600 mt-4">Date of Analysis</p>
            <p class="text-lg font-bold">02-12-2025</p>
          </div>
          <div class="flex flex-col items-center gap-4 ml-auto">
            <button class="bg-green-500 text-white px-4 py-2 rounded-md font-semibold hover:bg-green-600 w-[8rem]">
                Detect
            </button>
            <div class="flex gap-2 mt-3 text-gray-500 mr-[-50px]">
                <button class="hover:text-black">
                    <i class="fas fa-eye"></i> 
                </button>
                <button class="hover:text-black">
                    <i class="fas fa-print"></i>
                </button>
                <button class="hover:text-black">
                    <i class="fas fa-download"></i>
                </button>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-6">
          <div class="bg-white p-4 rounded shadow border border-solid border-[#ccc]">
            <p class="text-lg font-semibold">Soil Moisture</p>
            <p class="text-2xl">87.50%</p>
          </div>
          <div class="bg-white p-4 rounded shadow border border-solid border-[#ccc]">
            <p class="text-lg font-semibold">Temperature</p>
            <p class="text-2xl">32.50°C</p>
          </div>
          <div class="bg-white p-4 rounded shadow border border-solid border-[#ccc]">
            <p class="text-lg font-semibold">Humidity</p>
            <p class="text-2xl">85%</p>
          </div>
          <div class="bg-white p-4 rounded shadow border border-solid border-[#ccc]">
            <p class="text-lg font-semibold">pH Level</p>
            <p class="text-2xl">5.8</p>
          </div>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
          <div class="flex flex-col gap-4 md:w-7/10">
            <div
              class="card mt-12 bg-white border border-gray-300 rounded-lg shadow-lg p-4"
            >
              <h3 class="text-center">Soil Nutrient Levels (NPK)</h3>
              <canvas id="mergedChart" width="800" height="400"></canvas>
            </div>

            <div
              class="card mt-4 bg-white border border-gray-300 rounded-lg shadow-lg p-4"
            >
              <h3 class="text-center">Activities</h3>
              <canvas id="mergedChart" width="800" height="400"></canvas>
            </div>
          </div>

          <div
            class="card dashboard-card mt-12 bg-white border border-gray-300 rounded-lg shadow-lg px-4 flex-grow md:w-3/10"
          >
            <div
              class="card-header text-black text-center p-4 rounded-t-lg border-b-2"
            >
              <h4 class="text-xl font-semibold">Crop Recommendations</h4>
            </div>
            <div class="card-body p-4">
              <ul class="space-y-2">
                <li><strong>Corn</strong> - Best for Nitrogen-rich soils</li>
                <li>
                  <strong>Wheat</strong> - Suitable for slightly acidic soils
                  (pH 6-6.5)
                </li>
                <li><strong>Rice</strong> - Ideal for low-phosphorus soils</li>
              </ul>
              <a
                href="/recommendations/"
                class="btn bg-green-500 btn-sm text-white absolute mt-6 py-2 px-4 rounded hover:bg-green-600"
              >
                View All Recommendations
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- <div>
        <!-- This is where the workspace name will be dynamically updated --
        <h1 id="workspace-name">{{ selected_workspace.name }}</h1>

        <!-- This is where the workspace description will be dynamically updated --
        <p id="workspace-description">{{ selected_workspace.description }}</p>
      </div> -->
    </div>

    <script>
      function toggleSidebar() {
        document.getElementById("sidebar").classList.toggle("w-20");
      }

      const profileButton = document.getElementById("profile-button");
      const profileDropdown = document.getElementById("profile-dropdown");

      profileButton.addEventListener("click", () => {
        profileDropdown.classList.toggle("hidden");
      });

      document.addEventListener("click", (event) => {
        if (!profileButton.contains(event.target)) {
          profileDropdown.classList.add("hidden");
        }
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const workspaceButton = document.getElementById("workspace-button");
        const workspaceDropdown = document.getElementById("workspace-dropdown");

        workspaceButton.addEventListener("click", function () {
          workspaceDropdown.classList.toggle("hidden");
        });

        const workspaceOptions = document.querySelectorAll(".workspace-option");
        workspaceOptions.forEach(function (option) {
          option.addEventListener("click", function () {
            const selectedWorkspace = option.getAttribute("data-name");
            const currentWorkspace =
              document.getElementById("current-workspace");
            currentWorkspace.textContent = selectedWorkspace;
            workspaceDropdown.classList.add("hidden");
          });
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const workspaceButton = document.getElementById("workspace-button");

        // Toggle 'active' class when clicked
        workspaceButton.addEventListener("click", function () {
          workspaceButton.classList.toggle("active");
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Add event listener to each dropdown item
        const dropdownItems = document.querySelectorAll(".workspace-option");

        dropdownItems.forEach(function (item) {
          item.addEventListener("click", function (e) {
            e.preventDefault();

            // Get the workspace ID and name from the clicked item
            const workspaceId = this.getAttribute("data-id");
            const workspaceName = this.getAttribute("data-name");

            // Make an AJAX request to get workspace data
            fetch(`/workspace/data/${workspaceId}/`)
              .then((response) => response.json())
              .then((data) => {
                // Update the content of the page with the new workspace data
                document.getElementById("workspace-name").innerText = data.name;
                document.getElementById("workspace-description").innerText =
                  data.description;

                // Update the selected workspace in the dropdown
                const currentWorkspace =
                  document.getElementById("current-workspace");
                currentWorkspace.innerText = workspaceName;

                // Remove the 'selected' class from all other items in the dropdown
                document
                  .querySelectorAll(".workspace-option")
                  .forEach(function (option) {
                    option.classList.remove("bg-gray-300");
                  });

                // Add 'selected' style to the clicked workspace
                this.classList.add("bg-gray-300");

                // Move the selected workspace to the top of the dropdown
                const dropdown = document
                  .getElementById("workspace-dropdown")
                  .querySelector("ul");
                dropdown.prepend(this);
              })
              .catch((error) => console.error("Error:", error));
          });
        });
      });
    </script>

    <!-- chart js sample -->
    <script>
      // Example data for nitrogen, phosphorus, and potassium
      const nitrogenData = [30, 45, 25, 50, 38, 60, 45];
      const phosphorusData = [15, 25, 20, 30, 18, 22, 28];
      const potassiumData = [70, 65, 80, 75, 70, 68, 72];

      const labels = [
        "Day 1",
        "Day 2",
        "Day 3",
        "Day 4",
        "Day 5",
        "Day 6",
        "Day 7",
      ];

      // Merged Line Chart for N, P, K
      const mergedChart = new Chart(document.getElementById("mergedChart"), {
        type: "line", 
        data: {
          labels: labels,
          datasets: [
            {
              label: "Nitrogen (N)",
              data: nitrogenData,
              borderColor: "rgba(255, 99, 132, 1)",
              backgroundColor: "rgba(255, 99, 132, 0)",
              fill: true,
              // tension: 0.4,
              borderWidth: 2,
              pointStyle: "circle",
              pointBackgroundColor: "rgba(255, 99, 132, 1)",
              pointBorderWidth: 2,
            },
            {
              label: "Phosphorus (P)",
              data: phosphorusData,
              borderColor: "rgba(54, 162, 235, 1)",
              backgroundColor: "rgba(54, 162, 235, 0)",
              fill: true,
              // tension: 0.4,
              borderWidth: 2,
              pointStyle: "circle",
              pointBackgroundColor: "rgba(54, 162, 235, 1)",
              pointBorderWidth: 2,
            },
            {
              label: "Potassium (K)",
              data: potassiumData,
              borderColor: "rgba(75, 192, 192, 1)",
              backgroundColor: "rgba(75, 192, 192, 0)",
              fill: true,
              // tension: 0.4,
              borderWidth: 2,
              pointStyle: "circle",
              pointBackgroundColor: "rgba(75, 192, 192, 1)",
              pointBorderWidth: 2,
            },
          ],
        },
        options: {
          responsive: false,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              position: "top",
              labels: {
                font: { size: 10 },
                usePointStyle: true,
                boxWidth: 20,
              },
            },
            tooltip: {
              callbacks: {
                label: function (tooltipItem) {
                  return (
                    tooltipItem.dataset.label + ": " + tooltipItem.raw + "%"
                  );
                },
              },
              titleFont: { size: 10 },
              bodyFont: { size: 8 },
            },
          },
          scales: {
            x: {
              grid: {
                color: "rgba(0, 0, 0, 0.1)", 
                lineWidth: 0.5, 
              },
              ticks: {
                font: { size: 8 }, 
              },
            },
            y: {
              grid: {
                color: "rgba(0, 0, 0, 0.1)", 
                lineWidth: 0.5,
              },
              beginAtZero: true,
              ticks: {
                font: { size: 8 }, 
              },
            },
          },
        },
      });
    </script>
  </body>
</html>
