<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Insight</title>
    <link rel="icon" type="image/png" href="{% static 'images/sll2.png' %}" />
  </head>
  <body>
    <nav
      class="bg-white fixed w-full text-black p-1 flex justify-between items-center border-b border-solid border-[#aaa] p-2 z-10"
    >
      <div class="flex items-center ml-0">
        <a href="{% url 'workspace' %}"
          ><img
            src="{% static 'images/sl.png' %}"
            alt="Logo"
            class="w-12 h-9 mr-4"
        /></a>
      </div>

      <!-- Current Workspace Display and Dropdown -->
      <div class="relative">
        <div
          class="flex items-center space-x-2 text-black p-2 hover:bg-gray-200 rounded-lg cursor-pointer relative left-[-27rem]"
          id="workspace-button"
        >
          <!-- Current Workspace or Default Text -->
          <span class="text-xs" id="current-workspace">
            {% if selected_workspace %} {{ selected_workspace.name }} {% else %}
            Select workspace {% endif %}</span
          >
          <svg
            class="arrow-icon mt-1"
            width="12px"
            height="12px"
            viewBox="0 0 512 640"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
          >
            <g>
              <path
                fill="currentColor"
                d="M262.446,386.006L509.337,138.99c3.548-3.562,3.548-9.344,0-12.906c-3.453-3.453-9.438-3.453-12.859,0  
                        L255.993,366.662L15.555,126.083c-1.719-1.703-4.031-2.672-6.453-2.672s-4.734,0.969-6.453,2.672  
                        c-3.532,3.562-3.532,9.344,0.016,12.906l246.875,247C253.024,389.443,258.993,389.459,262.446,386.006z"
              />
            </g>
          </svg>
        </div>

        <!-- Dropdown Menu for Workspaces -->
        <div
          id="workspace-dropdown"
          class="absolute right-0 hidden mt-1 bg-white text-black rounded shadow-md w-[20rem] z-10 left-[-27rem] p-1 max-h-72 overflow-y-auto"
          data-id="{{ selected_workspace.id }}"
          data-name="{{ selected_workspace.name }}"
        >
          <ul>
            <!-- Dropdown items populated dynamically -->
            {% if selected_workspace %}
            <li>
              <a
                href="#"
                class="block px-4 py-2 bg-gray-300 rounded workspace-option"
                data-id="{{ selected_workspace.id }}"
                data-name="{{ selected_workspace.name }}"
              >
                {{ selected_workspace.name }}
              </a>
            </li>
            {% endif %} 
            {% for workspace in workspace %} 
            {% if workspace.id != selected_workspace.id %}
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-gray-200 workspace-option"
                data-id="{{ workspace.id }}"
                data-name="{{ workspace.name }}"
              >
                {{ workspace.name }}
              </a>
            </li>
            {% endif %} 
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- Profile Chip with Dropdown -->
      <div class="relative">
        <div
          class="flex items-center space-x-2 text-white p-2 rounded-full cursor-pointer profile-div mr-4"
          id="profile-button"
        >
          <!-- Avatar -->
          <div class="w-8 h-8 rounded-full overflow-hidden">
            {% if profile_picture_url %}
            <img
              src="{{ profile_picture_url }}"
              alt="User Avatar"
              class="w-full h-full object-cover"
            />
            {% else %}
            <span
              class="w-full h-full flex justify-center items-center bg-gray-500 text-white text-sm"
            >
              {{ user.first_name|slice:":1"|upper }}{{user.last_name|slice:":1"|upper }}
            </span>
            {% endif %}
          </div>
        </div>

        <!-- Dropdown Menu -->
        <div
          id="profile-dropdown"
          class="absolute right-0 hidden bg-white text-black rounded shadow-md w-48 z-10 p-1"
        >
          <ul class="py-2">
            <li class="px-4 py-2 text-m text-black-600">
              <strong>{{ user.first_name }}</strong> <br />
              <span
                class="text-sm text-gray-500 truncate"
                style="max-width: 150px; display: inline-block"
              >
                {{ user.email }}
              </span>
            </li>
            <li>
              <a
                href="{% url 'account_settings' %}"
                class="block px-4 py-2 hover:bg-gray-200"
                >Account settings</a
              >
            </li>
            <li>
              <a
                href="{% url 'logout' %}"
                class="block px-4 py-2 hover:bg-gray-200"
                >Log Out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="flex flex-1">
      <!-- Sidebar -->
      <div
        id="sidebar"
        class="bg-white text-black w-14 min-h-screen fixed mt-[4.08rem] p-4 transition-all duration-300 ease-in-out hover:w-52 group border-r border-solid border-[#aaa] group-hover:bg-white z=100"
      >
        <button onclick="toggleSidebar()" class="text-white mb-4 hidden">
          ☰
        </button>
        <nav>
          <ul>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a
                href="{% url 'workspace' %}"
                class="flex items-center space-x-2"
              >
                <img
                  src="{% static 'images/left-arrow.png' %}"
                  alt=""
                  width="12"
                  height="14"
                />
                <span
                  class="text-gray-400 text-sm opacity-0 group-hover:opacity-100 transition-all"
                >
                  Workspace
                </span>
              </a>
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a
                href="{% url 'dashboard' %}"
                class="flex items-center space-x-2"
                ><img
                  src="{% static 'images/dashboard.png' %}"
                  alt=""
                  width="18"
                  height="18"
                /><span
                  class="opacity-0 group-hover:opacity-100 transition-all"
                >
                  Dashboard
                </span></a
              >
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a
                href="{% url 'insights' %}"
                class="flex items-center space-x-2"
              >
                <img
                  src="{% static 'images/chart-up.png' %}"
                  alt=""
                  width="18"
                  height="18"
                />
                <span class="opacity-0 group-hover:opacity-100 transition-all">
                  Insight
                </span>
              </a>
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer w-32"
            >
              <a
                href="{% url 'crop_details' %}"
                class="flex items-center space-x-2"
                ><img
                  src="{% static 'images/info.png' %}"
                  alt=""
                  width="18"
                  height="18"
                /><span
                  class="opacity-0 group-hover:opacity-100 transition-all"
                >
                  Crop details
                </span></a
              >
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a href="{% url 'logs' %}" class="flex items-center space-x-2"
                ><img
                  src="{% static 'images/list.png' %}"
                  alt=""
                  width="18"
                  height="18"
                /><span
                  class="opacity-0 group-hover:opacity-100 transition-all"
                >
                  Logs
                </span></a
              >
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a href="{% url 'reports' %}" class="flex items-center space-x-2"
                ><img
                  src="{% static 'images/bar-chart.png' %}"
                  alt=""
                  width="18"
                  height="18"
                /><span class="opacity-0 group-hover:opacity-100 transition-all"
                  >Reports
                </span></a
              >
            </li>
            <li
              class="mt-4 mb-5 relative flex items-center space-x-4 text-black group cursor-pointer"
            >
              <a
                href="{% url 'settings' %}"
                class="flex items-center space-x-2 active-link"
                ><img
                  src="{% static 'images/settings.png' %}"
                  alt=""
                  width="18"
                  height="18"
                /><span class="opacity-0 group-hover:opacity-100 transition-all"
                  >Settings
                </span></a
              >
            </li>
          </ul>
        </nav>
      </div>

      <!-- Main Content -->
      <div
        class="flex-1 p-6 mt-16 ml-14 group-hover:ml-52 transition-all duration-300 ease-in-out"
      >
        <h1>Insights and Analytics</h1>
        <p>
          In this section, you can explore detailed insights about your project,
          team performance, and data analysis.
        </p>
        <ul>
          <li>Data Trends</li>
          <li>Performance Metrics</li>
          <li>Comparative Analytics</li>
        </ul>
      </div>
    </div>

    <script>
      // Toggle Profile Dropdown
      const profileButton = document.getElementById("profile-button");
      const profileDropdown = document.getElementById("profile-dropdown");

      profileButton.addEventListener("click", () => {
        profileDropdown.classList.toggle("hidden");
      });

      // Close dropdown if clicked outside (optional)
      document.addEventListener("click", (event) => {
        if (!profileButton.contains(event.target)) {
          profileDropdown.classList.add("hidden");
        }
      });
    </script>
  </body>
</html>
